
/packages export-ignore
/tests export-ignore
/docs export-ignore
/.phpunit.cache export-ignore
/phpunit.xml export-ignore
/pnpm-lock.yaml export-ignore
/pnpm-workspace.yaml export-ignore
/package.json export-ignore
/node_modules export-ignore
/release.sh export-ignore
